<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.github.utils.TestReport"></listener>
</listeners>
  <test thread-count="5" name="GetRepository">
    <classes>
      <class name="com.github.testCase.GetRepo"/>
    </classes>
  </test> 
  
  <test thread-count="5" name="CreateRepository">
    <classes>
      <class name="com.github.testCase.AddRepository"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
